$tablet-width: 768px;
$desktop-width: 1024px;
$large-width: 1440px;

$primary-color: #696969;
$secondary-color: #01A3A4;
$bg-blue: #F0F8F6;
$white-color: #FFFFFF;
$black-color: #000000;
$dark-color: #212121;

