.header {
    position: relative;
    background-color: $white-color;
    z-index: 1;

    &.opened {
        .header__nav {
            transform: translate(0);
        }

        .header__toggle {
            background-image: url('../img/cancel.svg');
        }
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;

    @media(min-width: $desktop-width) {
        padding: 1.25rem 1rem;
        justify-content: center;
    }
}

.header__logo {
    width: 6rem;
    height: 3.125rem;

    @media(min-width: $desktop-width) {
        width: 11.9375rem;
        height: 6.25rem;
    }
}

.header__toggle {
    width: 1rem;
    height: 1rem;
    background: url('../img/hamburger-menu.svg') no-repeat center;

    @media (min-width: $desktop-width) {
        display: none;
    }
}

.header__nav {
    position: absolute;
    width: 100%;
    padding-top: 3.34rem;
    padding-bottom: 3.34rem;
    transition: transform 0.8s ease-in-out;
    transform: translateX(-150%);
    background-color: $bg-blue;

    @media (min-width: $desktop-width) {
        display: flex;
        top: 50%;
        transform: translateY(-50%);
        justify-content: center;
        background-color: unset;
    }
}